body {
  background-color: beige; }

h1 {
  color: #FF5722; }

#nav {
  background-color: beige; }
  #nav a:hover {
    font-weight: bold;
    background-color: dimgrey;
    color: coral;
    text-decoration: underline; }

#maps a {
  color: #757575;
  background-color: chocolate;
  text-decoration: none; }

#maps a:hover {
  font-weight: bold;
  font-size: 20px;
  color: #212121; }

/* #p1{
    background-color: yellow;
    border-style: solid;
}
#p2{
    @extend #p1;
    border-style: dashed;
}
#p3{
    @extend #p1;
    border-style: outset;
}
#p4{
    @extend #p1;
    border-style: inset;
} */
/* @mixin sizes ($ancho, $alto){
    width: $ancho;
    height: $alto;
}
#logo{
    @include sizes(300px,300px)
}
 */
#boton {
  background-color: chocolate; }
