#boton {
    background-color: chocolate; 
  }
  .bg-header{
    background-color: white;
  }
  .bg-footer{
    background-color: beige;
  }
  .bg-home{
    background-color: beige;
  }
  .horarios{
    background-color: beige;
  }
  .nuestraIndustria{
    text-shadow: 5px 8px black;
    background-color: beige;
  }
  body {
    background-color: beige; }
  