$estilos:(
    color: #212121,
    tFuente:20px
);
#maps{
    a{color: #757575;
    background-color: chocolate;
    text-decoration: none;
    }
    a:hover{
        font-weight: bold;
        font-size: map-get($map:$estilos , $key:tFuente);
        color: map-get($map:$estilos , $key:color );
        }
}
