$estilos:(
    color: #FFEB3B,
    tFuente:20px,
    background-color: #BDBDBD,
    text: underline
);
#maps{
    a{color: black;
    background-color: chocolate;}
    a:hover{
        font-weight: bold;
        font-size: map-get($map:$estilos , $key:tFuente);
        background-color: map-get($map:$estilos , $key:background-color );
        color: map-get($map:$estilos , $key:color );
        text-decoration: map-get($map: $estilos, $key:text-decoration );
        }

}