.parallax{
    background-image: url("../images/franck.png");
    height: 830px;
    background-color: beige;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}
    .parallax2{
        background-image: url("../images/franckPlaza.png");
        height: 1300px;
        background-color: beige;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;}
            .parallax3{
                background-image: url("../images/Franckaire.png");
                height: 2000px;
                background-color: beige;
                background-attachment: fixed;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                                    }