.bg-text{
    background-color: rgba(0, 0, 0, 0.704);
    color: white;
  }
  .texto-1{
    background-color:rgba(0, 0, 0, 0.704);
    color: orange;
    border-top: inset 5px orange;
    border-right: inset 8px orange;
    border-bottom: inset 5px orange;
    border-left: inset 8px orange;
  }
  h1 {
    color: #FF5722; }
  
  